In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pandas_profiling
from pandas_profiling import ProfileReport

In [2]:
#Para obtener multiples salidas de una celda
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

In [3]:
basedir = './GlobalTemperatures'

In [4]:
clima = os.path.join(basedir, 'GlobalTemperatures' + '.csv')
dfClima = pd.read_csv(clima)

In [5]:
city = os.path.join(basedir, 'GlobalLandTemperaturesBy' + 'City' + '.csv')
dfCity = pd.read_csv(city)

In [6]:
country = os.path.join(basedir, 'GlobalLandTemperaturesBy' + 'Country' + '.csv')
dfCountry = pd.read_csv(country)

In [7]:
majorcity = os.path.join(basedir, 'GlobalLandTemperaturesBy' + 'MajorCity' + '.csv')
dfMajorCity = pd.read_csv(majorcity)

In [8]:
state = os.path.join(basedir, 'GlobalLandTemperaturesBy' + 'State' + '.csv')
dfState = pd.read_csv(state)

In [9]:
print('GLOBAL')
dfClima.head(1)
dfClima.info()

print('\n\n')

print('CITY')
dfCity.head(1)
dfCity.info(show_counts=True)

print('\n\n')

print('COUNTRY')
dfCountry.head(1)
dfCountry.info()

print('\n\n')

print('MAJORCITY')
dfMajorCity.head(1)
dfMajorCity.info()

print('\n\n')

print('STATE')
dfState.head(1)
dfState.info()

GLOBAL

,dt,LandAverageTemperature,LandAverageTemperatureUncertainty,LandMaxTemperature,LandMaxTemperatureUncertainty,LandMinTemperature,LandMinTemperatureUncertainty,LandAndOceanAverageTemperature,LandAndOceanAverageTemperatureUncertainty
0,1750-01-01,3.034,3.574,NaN,NaN,NaN,NaN,NaN,NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3192 entries, 0 to 3191
Data columns (total 9 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   dt                                         3192 non-null   object
 1   LandAverageTemperature                     3180 non-null   float64
 2   LandAverageTemperatureUncertainty          3180 non-null   float64
 3   LandMaxTemperature                         1992 non-null   float64
 4   LandMaxTemperatureUncertainty              1992 non-null   float64
 5   LandMinTemperature                         1992 non-null   float64
 6   LandMinTemperatureUncertainty              1992 non-null   float64
 7   LandAndOceanAverageTemperature             1992 non-null   float64
 8   LandAndOceanAverageTemperatureUncertainty  1992 non-null   float64
dtypes: float64(8), object(1)
memory usage: 224.6+ KB



CITY

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
0,1743-11-01,6.068,1.737,Århus,Denmark,57.05N,10.33E

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8599212 entries, 0 to 8599211
Data columns (total 7 columns):
 #   Column                         Non-Null Count    Dtype
---  ------                         --------------    -----
 0   dt                             8599212 non-null  object
 1   AverageTemperature             8235082 non-null  float64
 2   AverageTemperatureUncertainty  8235082 non-null  float64
 3   City                           8599212 non-null  object
 4   Country                        8599212 non-null  object
 5   Latitude                       8599212 non-null  object
 6   Longitude                      8599212 non-null  object
dtypes: float64(2), object(5)
memory usage: 459.2+ MB



COUNTRY

           dt  AverageTemperature  AverageTemperatureUncertainty Country
0  1743-11-01               4.384                          2.294   Åland

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 577462 entries, 0 to 577461
Data columns (total 4 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   dt                             577462 non-null  object
 1   AverageTemperature             544811 non-null  float64
 2   AverageTemperatureUncertainty  545550 non-null  float64
 3   Country                        577462 non-null  object
dtypes: float64(2), object(2)
memory usage: 17.6+ MB



MAJORCITY

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
0,1849-01-01,26.704,1.435,Abidjan,Côte D'Ivoire,5.63N,3.23W

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 239177 entries, 0 to 239176
Data columns (total 7 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   dt                             239177 non-null  object
 1   AverageTemperature             228175 non-null  float64
 2   AverageTemperatureUncertainty  228175 non-null  float64
 3   City                           239177 non-null  object
 4   Country                        239177 non-null  object
 5   Latitude                       239177 non-null  object
 6   Longitude                      239177 non-null  object
dtypes: float64(2), object(5)
memory usage: 12.8+ MB



STATE

           dt  AverageTemperature  AverageTemperatureUncertainty State Country
0  1855-05-01              25.544                          1.171  Acre  Brazil

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 645675 entries, 0 to 645674
Data columns (total 5 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   dt                             645675 non-null  object
 1   AverageTemperature             620027 non-null  float64
 2   AverageTemperatureUncertainty  620027 non-null  float64
 3   State                          645675 non-null  object
 4   Country                        645675 non-null  object
dtypes: float64(2), object(3)
memory usage: 24.6+ MB

1. Primeros elementos del planteamiento del problema, preguntas de investigación y comprensión del negocio y de los datos

  - Identificar unidad de observación.  Una unidad de observación es el elemento (o elementos) que observa, mide o recopila mientras intenta aprender algo sobre su unidad de análisis. Ver artículo (Enlaces a un sitio externo.)
  - Identificación de cada unidad de análisis y sus correspondientes preguntas de investigación de tipo descriptivas y, si procede, predictivas. Una unidad de análisis es la entidad sobre la que desea decir algo (analítica: descriptiva, diagnóstico, predicción, prescripción).

Nuestra unidad de analisis seria el tiempo y la ciudad/pais/estado que corresponde, mientras que nuestra unidad de observación sera nuestra temperatura

2. Justificación del porqué los datos son de panel, longitudinales o transversales (cross-sectional)

Todas las tablas de datos son de panel, ya que se refieren a datos temporales de varios individuos, teniendo observaciones mensuales para distintas ciudades, estados, paises o ciudades mayores. La unica que varia en su tipo de datos es la global, que se convierte en longitudinal, al analizar al mismo sujeto a traves del tiempo

3. Identificar el tipo de dato de cada columna teniendo en cuenta su clasificación en Estadística https://www.questionpro.com/blog/es/tipos-de-datos-estadisticos/

4. Hacer análisis univariado que incluya:

  - Estadística descriptiva de cada columna,
  - Gráficos con los datos de cada columna que ayuden a realizar hallazgos en estas estadísticas, así como análisis de outliers. Ejemplos: dispersión, histogramas, distribución, cajas y bigotes.
  - Análisis de datos faltantes y erróneos
  - Otras tareas de preprocesamiento.
  - Incluya celdas markdown con sus hallazgos.